body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1464px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1464px;
  height:796px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:1464px;
  height:796px;
  display:flex;
}
#u2168 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2168_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1464px;
  height:64px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1464px;
  height:64px;
  display:flex;
}
#u2169 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2169_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:860px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:860px;
  display:flex;
}
#u2170 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2170_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.458823529411765);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u2171 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:16px;
  width:176px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
}
#u2171 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2171_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.458823529411765);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2172 {
  border-width:0px;
  position:absolute;
  left:1395px;
  top:16px;
  width:32px;
  height:32px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u2172 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2172_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u2173 {
  border-width:0px;
  position:absolute;
  left:1344px;
  top:0px;
  width:51px;
  height:64px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u2173 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2173_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2174 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:76px;
  width:206px;
  height:18px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2174 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2174_text {
  border-width:0px;
  white-space:nowrap;
}
#u2175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:178px;
  background:inherit;
  background-color:rgba(50, 50, 50, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:224px;
  height:178px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u2177 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2177_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u2178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:106px;
  width:224px;
  height:34px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u2178 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 44px;
  box-sizing:border-box;
}
#u2178_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(16, 141, 233, 0.996078431372549);
  text-align:left;
}
#u2179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:224px;
  height:34px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(16, 141, 233, 0.996078431372549);
  text-align:left;
}
#u2179 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 44px;
  box-sizing:border-box;
}
#u2179_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u2180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:174px;
  width:224px;
  height:34px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u2180 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 44px;
  box-sizing:border-box;
}
#u2180_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u2181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:206px;
  width:224px;
  height:34px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u2181 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 44px;
  box-sizing:border-box;
}
#u2181_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u2182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:224px;
  height:34px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u2182 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 44px;
  box-sizing:border-box;
}
#u2182_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2183 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:224px;
  height:42px;
  display:flex;
}
#u2184 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2184_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
  background:inherit;
  background-color:rgba(16, 141, 233, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u2185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:68px;
  width:224px;
  height:34px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u2185 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 44px;
  box-sizing:border-box;
}
#u2185_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2186 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:79px;
  width:12px;
  height:12px;
  display:flex;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u2186 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2186_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:4px;
}
#u2187 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:83px;
  width:8px;
  height:4px;
  display:flex;
}
#u2187 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2187_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1203px;
  height:589px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2188 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:250px;
  width:1203px;
  height:589px;
  display:flex;
}
#u2188 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2188_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1171px;
  height:32px;
}
#u2189 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:285px;
  width:1171px;
  height:32px;
  display:flex;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(16, 141, 233, 0.996078431372549);
  line-height:22px;
}
#u2189 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2189_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1171px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(223, 223, 223, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2191 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:351px;
  width:1171px;
  height:124px;
  display:flex;
}
#u2191 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2191_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1171px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:2px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u2192 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:351px;
  width:1171px;
  height:55px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u2192 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:16px 2px 2px 24px;
  box-sizing:border-box;
}
#u2192_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2194 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:427px;
  width:83px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2194 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
}
#u2194_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
}
#u2195 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:430px;
  width:48px;
  height:22px;
  display:flex;
}
#u2195 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2195_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2196 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:427px;
  width:83px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2196 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
}
#u2196_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
}
#u2197 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:430px;
  width:48px;
  height:22px;
  display:flex;
}
#u2197 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2197_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2198 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:427px;
  width:83px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2198 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
}
#u2198_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
}
#u2199 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:430px;
  width:48px;
  height:22px;
  display:flex;
}
#u2199 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2199_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2200 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:427px;
  width:83px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2200 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
}
#u2200_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2201 {
  border-width:0px;
  position:absolute;
  left:1225px;
  top:363px;
  width:105px;
  height:32px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2201 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
}
#u2201_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.996078431372549);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2202 {
  border-width:0px;
  position:absolute;
  left:1343px;
  top:363px;
  width:60px;
  height:32px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2202 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
}
#u2202_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:32px;
  background:inherit;
  background-color:rgba(253, 0, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2203 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:363px;
  width:130px;
  height:32px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2203 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
}
#u2203_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
}
#u2204 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:430px;
  width:48px;
  height:22px;
  display:flex;
}
#u2204 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2204_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:28px;
}
#u2205 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:427px;
  width:156px;
  height:28px;
  display:flex;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(16, 141, 233, 0.996078431372549);
  line-height:22px;
}
#u2205 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2205_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2207 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:208px;
  width:95px;
  height:42px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2207 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 2px 0px;
  box-sizing:border-box;
}
#u2207_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2207.mouseOver {
}
#u2207_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2207.selected {
}
#u2207_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u2208 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:208px;
  width:95px;
  height:42px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u2208 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 2px 0px;
  box-sizing:border-box;
}
#u2208_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u2208.mouseOver {
}
#u2208_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u2208.selected {
}
#u2208_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1171px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(223, 223, 223, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2210 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:498px;
  width:1171px;
  height:124px;
  display:flex;
}
#u2210 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2210_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1171px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:2px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u2211 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:498px;
  width:1171px;
  height:55px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u2211 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:16px 2px 2px 24px;
  box-sizing:border-box;
}
#u2211_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2213 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:574px;
  width:83px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2213 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
}
#u2213_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
}
#u2214 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:577px;
  width:48px;
  height:22px;
  display:flex;
}
#u2214 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2214_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2215 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:574px;
  width:83px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2215 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
}
#u2215_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
}
#u2216 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:577px;
  width:48px;
  height:22px;
  display:flex;
}
#u2216 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2216_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2217 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:574px;
  width:83px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2217 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
}
#u2217_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
}
#u2218 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:577px;
  width:48px;
  height:22px;
  display:flex;
}
#u2218 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2218_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2219 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:574px;
  width:83px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2219 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
}
#u2219_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u2220 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:581px;
  width:14px;
  height:14px;
  display:flex;
}
#u2220 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2220_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2221 {
  border-width:0px;
  position:absolute;
  left:1225px;
  top:510px;
  width:105px;
  height:32px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2221 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
}
#u2221_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.996078431372549);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2222 {
  border-width:0px;
  position:absolute;
  left:1343px;
  top:510px;
  width:60px;
  height:32px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2222 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
}
#u2222_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:32px;
  background:inherit;
  background-color:rgba(253, 0, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2223 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:510px;
  width:130px;
  height:32px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2223 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
}
#u2223_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
}
#u2224 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:577px;
  width:48px;
  height:22px;
  display:flex;
}
#u2224 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2224_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:28px;
}
#u2225 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:574px;
  width:156px;
  height:28px;
  display:flex;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(16, 141, 233, 0.996078431372549);
  line-height:22px;
}
#u2225 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2225_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1203px;
  height:76px;
}
#u2227 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:115px;
  width:1203px;
  height:76px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u2227 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
}
#u2227_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:28px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:21px;
}
#u2228 {
  border-width:0px;
  position:absolute;
  left:1352px;
  top:139px;
  width:67px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:21px;
}
#u2228 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
}
#u2228_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u2230 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:139px;
  width:100px;
  height:52px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u2230 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:4px 8px 30px 0px;
  box-sizing:border-box;
}
#u2230_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u2231 {
  border-width:0px;
  position:absolute;
  left:1074px;
  top:139px;
  width:250px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u2231 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:5px 0px 5px 8px;
  box-sizing:border-box;
}
#u2231_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1464px;
  height:860px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1464px;
  height:860px;
  display:flex;
}
#u2232 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2232_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:219px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2234 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:304px;
  width:572px;
  height:219px;
  display:flex;
}
#u2234 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2234_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2237 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:304px;
  width:572px;
  height:54px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2237 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:16px 24px 16px 24px;
  box-sizing:border-box;
}
#u2237_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
}
#u2239 {
  border-width:0px;
  position:absolute;
  left:1084px;
  top:322px;
  width:13px;
  height:12px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u2239 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2239_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:32px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2240 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:457px;
  width:314px;
  height:32px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2240 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
}
#u2240_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2241 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u2242 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:394px;
  width:106px;
  height:52px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u2242 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:4px 8px 30px 0px;
  box-sizing:border-box;
}
#u2242_text {
  border-width:0px;
  white-space:nowrap;
}
#u2243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2243 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:394px;
  width:320px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2243 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:5px 0px 5px 8px;
  box-sizing:border-box;
}
#u2243_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:24px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2244 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:396px;
  width:152px;
  height:24px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2244 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2244_text {
  border-width:0px;
  word-wrap:break-word;
}
