body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1464px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1464px;
  height:796px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:1464px;
  height:796px;
  display:flex;
}
#u1169 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1169_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1464px;
  height:64px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1464px;
  height:64px;
  display:flex;
}
#u1170 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1170_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:860px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1171 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:860px;
  display:flex;
}
#u1171 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1171_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.458823529411765);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1172 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:16px;
  width:176px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
}
#u1172 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1172_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.458823529411765);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1173 {
  border-width:0px;
  position:absolute;
  left:1395px;
  top:16px;
  width:32px;
  height:32px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u1173 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1173_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u1174 {
  border-width:0px;
  position:absolute;
  left:1344px;
  top:0px;
  width:51px;
  height:64px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u1174 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1174_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1175 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:76px;
  width:206px;
  height:18px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1175 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1175_text {
  border-width:0px;
  white-space:nowrap;
}
#u1176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:178px;
  background:inherit;
  background-color:rgba(50, 50, 50, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:224px;
  height:178px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u1178 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1178_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u1179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:106px;
  width:224px;
  height:34px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u1179 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 44px;
  box-sizing:border-box;
}
#u1179_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(16, 141, 233, 0.996078431372549);
  text-align:left;
}
#u1180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:224px;
  height:34px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(16, 141, 233, 0.996078431372549);
  text-align:left;
}
#u1180 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 44px;
  box-sizing:border-box;
}
#u1180_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u1181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:174px;
  width:224px;
  height:34px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u1181 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 44px;
  box-sizing:border-box;
}
#u1181_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u1182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:206px;
  width:224px;
  height:34px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u1182 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 44px;
  box-sizing:border-box;
}
#u1182_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u1183 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:224px;
  height:34px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u1183 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 44px;
  box-sizing:border-box;
}
#u1183_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:224px;
  height:42px;
  display:flex;
}
#u1185 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1185_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
  background:inherit;
  background-color:rgba(16, 141, 233, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u1186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:68px;
  width:224px;
  height:34px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u1186 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 44px;
  box-sizing:border-box;
}
#u1186_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:79px;
  width:12px;
  height:12px;
  display:flex;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u1187 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1187_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:4px;
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:83px;
  width:8px;
  height:4px;
  display:flex;
}
#u1188 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1188_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1203px;
  height:589px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:250px;
  width:1203px;
  height:589px;
  display:flex;
}
#u1189 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1189_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1171px;
  height:32px;
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:285px;
  width:1171px;
  height:32px;
  display:flex;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(16, 141, 233, 0.996078431372549);
  line-height:22px;
}
#u1190 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1190_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1171px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(223, 223, 223, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:351px;
  width:1171px;
  height:124px;
  display:flex;
}
#u1192 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1192_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1171px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:2px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:24px;
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:351px;
  width:1171px;
  height:55px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:24px;
}
#u1193 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:16px 2px 2px 24px;
  box-sizing:border-box;
}
#u1193_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:427px;
  width:83px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u1195 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
}
#u1195_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:430px;
  width:48px;
  height:22px;
  display:flex;
}
#u1196 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1196_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:427px;
  width:83px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u1197 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
}
#u1197_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:430px;
  width:48px;
  height:22px;
  display:flex;
}
#u1198 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1198_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:427px;
  width:83px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u1199 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
}
#u1199_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:430px;
  width:48px;
  height:22px;
  display:flex;
}
#u1200 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1200_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:427px;
  width:83px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u1201 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
}
#u1201_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:1225px;
  top:363px;
  width:105px;
  height:32px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1202 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
}
#u1202_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.996078431372549);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:1343px;
  top:363px;
  width:60px;
  height:32px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1203 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
}
#u1203_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:32px;
  background:inherit;
  background-color:rgba(253, 0, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:363px;
  width:130px;
  height:32px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1204 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
}
#u1204_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:430px;
  width:48px;
  height:22px;
  display:flex;
}
#u1205 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1205_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:28px;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:427px;
  width:156px;
  height:28px;
  display:flex;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(16, 141, 233, 0.996078431372549);
  line-height:22px;
}
#u1206 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1206_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:32px;
  background:inherit;
  background-color:rgba(17, 204, 1, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:363px;
  width:111px;
  height:32px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1207 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
}
#u1207_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:208px;
  width:95px;
  height:42px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1209 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 2px 0px;
  box-sizing:border-box;
}
#u1209_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1209.mouseOver {
}
#u1209_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1209.selected {
}
#u1209_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:208px;
  width:95px;
  height:42px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u1210 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 2px 0px;
  box-sizing:border-box;
}
#u1210_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u1210.mouseOver {
}
#u1210_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u1210.selected {
}
#u1210_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1171px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(223, 223, 223, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:498px;
  width:1171px;
  height:124px;
  display:flex;
}
#u1212 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1212_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1171px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:2px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:24px;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:498px;
  width:1171px;
  height:55px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:24px;
}
#u1213 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:16px 2px 2px 24px;
  box-sizing:border-box;
}
#u1213_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:574px;
  width:83px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u1215 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
}
#u1215_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:577px;
  width:48px;
  height:22px;
  display:flex;
}
#u1216 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1216_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:574px;
  width:83px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u1217 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
}
#u1217_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:577px;
  width:48px;
  height:22px;
  display:flex;
}
#u1218 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1218_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:574px;
  width:83px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u1219 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
}
#u1219_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:577px;
  width:48px;
  height:22px;
  display:flex;
}
#u1220 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1220_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:574px;
  width:83px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u1221 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
}
#u1221_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:581px;
  width:14px;
  height:14px;
  display:flex;
}
#u1222 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1222_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:1225px;
  top:510px;
  width:105px;
  height:32px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1223 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
}
#u1223_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.996078431372549);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:1343px;
  top:510px;
  width:60px;
  height:32px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1224 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
}
#u1224_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:32px;
  background:inherit;
  background-color:rgba(253, 0, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:510px;
  width:130px;
  height:32px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1225 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
}
#u1225_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:577px;
  width:48px;
  height:22px;
  display:flex;
}
#u1226 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1226_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:28px;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:574px;
  width:156px;
  height:28px;
  display:flex;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(16, 141, 233, 0.996078431372549);
  line-height:22px;
}
#u1227 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1227_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:32px;
  background:inherit;
  background-color:rgba(17, 204, 1, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:510px;
  width:111px;
  height:32px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1228 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
}
#u1228_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1203px;
  height:76px;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:115px;
  width:1203px;
  height:76px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1230 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
}
#u1230_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:28px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:21px;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:1352px;
  top:139px;
  width:67px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:21px;
}
#u1231 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
}
#u1231_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:139px;
  width:100px;
  height:52px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u1233 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:4px 8px 30px 0px;
  box-sizing:border-box;
}
#u1233_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:1074px;
  top:139px;
  width:250px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u1234 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:5px 0px 5px 8px;
  box-sizing:border-box;
}
#u1234_text {
  border-width:0px;
  word-wrap:break-word;
}
