body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1464px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1464px;
  height:796px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2597 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:1464px;
  height:796px;
  display:flex;
}
#u2597 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2597_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u2598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1464px;
  height:64px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2598 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1464px;
  height:64px;
  display:flex;
}
#u2598 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2598_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u2599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:860px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2599 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:860px;
  display:flex;
}
#u2599 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2599_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u2600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.458823529411765);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u2600 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:16px;
  width:176px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
}
#u2600 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.458823529411765);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2601 {
  border-width:0px;
  position:absolute;
  left:1395px;
  top:16px;
  width:32px;
  height:32px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u2601 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2601_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u2602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u2602 {
  border-width:0px;
  position:absolute;
  left:1344px;
  top:0px;
  width:51px;
  height:64px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u2602 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2603 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:76px;
  width:174px;
  height:18px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2603 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2603_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2604 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2605 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:178px;
  background:inherit;
  background-color:rgba(50, 50, 50, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2606 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:224px;
  height:178px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u2606 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2606_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u2607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u2607 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:106px;
  width:224px;
  height:34px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u2607 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 44px;
  box-sizing:border-box;
}
#u2607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(16, 141, 233, 0.996078431372549);
  text-align:left;
}
#u2608 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:224px;
  height:34px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(16, 141, 233, 0.996078431372549);
  text-align:left;
}
#u2608 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 44px;
  box-sizing:border-box;
}
#u2608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u2609 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:174px;
  width:224px;
  height:34px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u2609 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 44px;
  box-sizing:border-box;
}
#u2609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u2610 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:206px;
  width:224px;
  height:34px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u2610 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 44px;
  box-sizing:border-box;
}
#u2610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u2611 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:224px;
  height:34px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u2611 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 44px;
  box-sizing:border-box;
}
#u2611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2612 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2613 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:224px;
  height:42px;
  display:flex;
}
#u2613 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2613_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u2614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
  background:inherit;
  background-color:rgba(16, 141, 233, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u2614 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:68px;
  width:224px;
  height:34px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u2614 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 44px;
  box-sizing:border-box;
}
#u2614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2615 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:79px;
  width:12px;
  height:12px;
  display:flex;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u2615 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2615_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u2616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:4px;
}
#u2616 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:83px;
  width:8px;
  height:4px;
  display:flex;
}
#u2616 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2616_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u2617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1203px;
  height:690px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2617 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:149px;
  width:1203px;
  height:690px;
  display:flex;
}
#u2617 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2617_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u2618 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1171px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(223, 223, 223, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2619 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:174px;
  width:1171px;
  height:124px;
  display:flex;
}
#u2619 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2619_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u2620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1171px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:2px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Negreta', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:24px;
}
#u2620 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:174px;
  width:1171px;
  height:55px;
  display:flex;
  font-family:'PingFang SC Negreta', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:24px;
}
#u2620 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:16px 2px 2px 24px;
  box-sizing:border-box;
}
#u2620_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2621 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2622 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:250px;
  width:83px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2622 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
}
#u2622_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
}
#u2623 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:253px;
  width:48px;
  height:22px;
  display:flex;
}
#u2623 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2623_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u2624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2624 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:250px;
  width:83px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2624 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
}
#u2624_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
}
#u2625 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:253px;
  width:48px;
  height:22px;
  display:flex;
}
#u2625 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2625_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u2626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2626 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:250px;
  width:83px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2626 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
}
#u2626_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
}
#u2627 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:253px;
  width:48px;
  height:22px;
  display:flex;
}
#u2627 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2627_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u2628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2628 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:250px;
  width:83px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2628 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
}
#u2628_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2629 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2630_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2630 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:107px;
  width:95px;
  height:42px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2630 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 2px 0px;
  box-sizing:border-box;
}
#u2630_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2630.mouseOver {
}
#u2630_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2630.selected {
}
#u2630_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u2631 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:107px;
  width:95px;
  height:42px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u2631 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 2px 0px;
  box-sizing:border-box;
}
#u2631_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u2631.mouseOver {
}
#u2631_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u2631.selected {
}
#u2631_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2632 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1171px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(223, 223, 223, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2633 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:317px;
  width:1171px;
  height:124px;
  display:flex;
}
#u2633 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2633_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u2634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1171px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:2px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Negreta', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:24px;
}
#u2634 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:317px;
  width:1171px;
  height:55px;
  display:flex;
  font-family:'PingFang SC Negreta', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:24px;
}
#u2634 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:16px 2px 2px 24px;
  box-sizing:border-box;
}
#u2634_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2635 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2636 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:393px;
  width:83px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2636 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
}
#u2636_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
}
#u2637 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:396px;
  width:48px;
  height:22px;
  display:flex;
}
#u2637 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2637_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u2638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2638 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:393px;
  width:83px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2638 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
}
#u2638_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
}
#u2639 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:396px;
  width:48px;
  height:22px;
  display:flex;
}
#u2639 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2639_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u2640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2640 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:393px;
  width:83px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2640 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
}
#u2640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
}
#u2641 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:396px;
  width:48px;
  height:22px;
  display:flex;
}
#u2641 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2641_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u2642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2642 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:393px;
  width:83px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2642 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
}
#u2642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1171px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(223, 223, 223, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2644 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:461px;
  width:1171px;
  height:124px;
  display:flex;
}
#u2644 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2644_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u2645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1171px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:2px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Negreta', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:24px;
}
#u2645 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:461px;
  width:1171px;
  height:55px;
  display:flex;
  font-family:'PingFang SC Negreta', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:24px;
}
#u2645 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:16px 2px 2px 24px;
  box-sizing:border-box;
}
#u2645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2647 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:537px;
  width:83px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2647 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
}
#u2647_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
}
#u2648 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:540px;
  width:48px;
  height:22px;
  display:flex;
}
#u2648 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2648_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u2649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2649 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:537px;
  width:83px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2649 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
}
#u2649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
}
#u2650 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:540px;
  width:48px;
  height:22px;
  display:flex;
}
#u2650 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2650_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u2651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2651 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:537px;
  width:83px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2651 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
}
#u2651_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
}
#u2652 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:540px;
  width:48px;
  height:22px;
  display:flex;
}
#u2652 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2652_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u2653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2653 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:537px;
  width:83px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2653 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
}
#u2653_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1171px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(223, 223, 223, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2655 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:604px;
  width:1171px;
  height:124px;
  display:flex;
}
#u2655 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2655_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u2656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1171px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:2px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Negreta', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:24px;
}
#u2656 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:604px;
  width:1171px;
  height:55px;
  display:flex;
  font-family:'PingFang SC Negreta', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:24px;
}
#u2656 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:16px 2px 2px 24px;
  box-sizing:border-box;
}
#u2656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2657 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2658 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:680px;
  width:83px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2658 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
}
#u2658_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
}
#u2659 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:683px;
  width:48px;
  height:22px;
  display:flex;
}
#u2659 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2659_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u2660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2660 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:680px;
  width:83px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2660 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
}
#u2660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
}
#u2661 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:683px;
  width:48px;
  height:22px;
  display:flex;
}
#u2661 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2661_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u2662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2662 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:680px;
  width:83px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2662 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
}
#u2662_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
}
#u2663 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:683px;
  width:48px;
  height:22px;
  display:flex;
}
#u2663 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2663_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u2664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2664 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:680px;
  width:83px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A2A2A;
  line-height:20px;
}
#u2664 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
}
#u2664_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2665 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:28px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2666 {
  border-width:0px;
  position:absolute;
  left:1289px;
  top:188px;
  width:106px;
  height:28px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2666 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 16px 0px 0px;
  box-sizing:border-box;
}
#u2666_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2667 {
  border-width:0px;
  position:absolute;
  left:1370px;
  top:194px;
  width:16px;
  height:16px;
  display:flex;
}
#u2667 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2667_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u2668 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:28px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2669 {
  border-width:0px;
  position:absolute;
  left:1289px;
  top:331px;
  width:106px;
  height:28px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2669 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 16px 0px 0px;
  box-sizing:border-box;
}
#u2669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2670 {
  border-width:0px;
  position:absolute;
  left:1370px;
  top:337px;
  width:16px;
  height:16px;
  display:flex;
}
#u2670 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2670_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u2671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:28px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2672 {
  border-width:0px;
  position:absolute;
  left:1289px;
  top:475px;
  width:106px;
  height:28px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2672 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 16px 0px 0px;
  box-sizing:border-box;
}
#u2672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2673 {
  border-width:0px;
  position:absolute;
  left:1370px;
  top:481px;
  width:16px;
  height:16px;
  display:flex;
}
#u2673 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2673_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u2674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:28px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2675 {
  border-width:0px;
  position:absolute;
  left:1289px;
  top:618px;
  width:106px;
  height:28px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2675 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 16px 0px 0px;
  box-sizing:border-box;
}
#u2675_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2676 {
  border-width:0px;
  position:absolute;
  left:1370px;
  top:624px;
  width:16px;
  height:16px;
  display:flex;
}
#u2676 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2676_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
